<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tjohnn.routinechecks">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/routine"
        android:label="@string/app_name"
        android:roundIcon="@drawable/routine"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoutineChecks"
        android:name=".App">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".service.ReminderBroadcastReceiver"/>

        <service
            android:name=".service.BackgroundAlarmSchedulerService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.ForegroundAlarmSchedulerService"
            android:enabled="true"
            android:exported="true"
            />

    </application>

</manifest>